<!DOCTYPE html>
<html>
<head>
    <title>Van het kaske naar uw buur...</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrapValidator.min.css"/>
    <link rel="stylesheet" href="css/stylePanic.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
        var gDebug, latitude, longitude;

        $(document).ready(init);

        function callback() {
            var HowestLatLng = new google.maps.LatLng(latitude, longitude);
            console.log(latitude, " ", longitude);


//                var map = new google.maps.Map($("#kaartje").get(0),
//                        { zoom: 15, center: HowestLatLng, mapTypeId: google.maps.MapTypeId.ROADMAP});
//
//                var marker = new google.maps.Marker({ position: new google.maps.LatLng(latitude, longitude), title: "locatie "});
//                marker.setMap(map);
//
//                google.maps.event.addListener(marker, 'click', function (e) {
//                    gDebug = e;
//                });
        }

        function init() {
            getLocation();
        }

        function showLocation(position) {
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
//                alert("Latitude : " + latitude + " Longitude: " + longitude);

            callback();
        }

        function errorHandler(err) {
            if (err.code == 1) {
                alert("Error: Access is denied!");
            } else if (err.code == 2) {
                alert("Error: Position is unavailable!");
            }
        }
        function getLocation() {

            if (navigator.geolocation) {
                // timeout at 60000 milliseconds (60 seconds)
//                    console.log("gelukt");
                var options = {timeout: 60000};
                navigator.geolocation.getCurrentPosition(showLocation,
                        errorHandler,
                        options);

            } else {
                alert("Sorry, uw browser ondersteunt geen geolocation");
            }


        }


    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 parent">
            <button class="btn btn-default orange-circle-button child">Don't<br/>PANIC<br/><span
                        class="orange-circle-greater-than"></span></button>
        </div>
    </div>
</div>
</body>
</html>
