<!DOCTYPE html>
<html>
<head>
    <title>Van het kaske naar uw buur...</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrapValidator.min.css"/>
    <link rel="stylesheet" href="css/styleFamilie.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<section style="background:#efefe9;">
    <div class="container">
        <div class="row">
            <div class="board">
                <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                        <li class="active">
                            <a href="#home" data-toggle="tab" title="welkom">
                                        <span class="round-tabs one">
                                            <i class="glyphicon glyphicon-home"></i>
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#phone" data-toggle="tab" title="telefoon">
                                        <span class="round-tabs two">
                                            <i class="glyphicon glyphicon-phone-alt"></i>
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#heartrate" data-toggle="tab" title="hartslag monitor">
                                        <span class="round-tabs three">
                                             <i class="glyphicon glyphicon-heart"></i>
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#location" data-toggle="tab" title="locatie monitor">
                                        <span class="round-tabs four">
                                             <i class="glyphicon glyphicon-road"></i>
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#cog" data-toggle="tab" title="instellingen">
                                        <span class="round-tabs five">
                                             <i class="glyphicon glyphicon-cog"></i>
                                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <h3 class="head text-center">Welkom bij Kaske <span style="color:#f48260;">♥</span>, <small>uw verzekering bij hartproblemen.</small></h3>
                        <p class="margin-top text-center">
                            De online applicatie van Kaske <span style="color:#f48260;">♥</span> heeft 4 pagina's waar u meer informatie kan vinden en instellen over uw familielid:
                        </p>
                        <ul class='list-welkom middel'>
                            <li>
                                <a href="#phone" data-toggle="tab" title="telefoon">
                                            <span>
                                                <i class="glyphicon glyphicon-phone-alt"></i>
                                            </span>
                                </a>
                                &nbsp;Een pagina waar u <a href="#phone" data-toggle="tab" title="telefoon">telefoonnummers kan instellen</a> die verwittigd worden.
                            </li>
                            <li>
                                <a href="#heartrate" data-toggle="tab" title="hartslag monitor">
                                            <span>
                                                 <i class="glyphicon glyphicon-heart"></i>
                                            </span>
                                </a>
                                &nbsp;Een pagina waar u de <a href="#heartrate" data-toggle="tab" title="hartslag monitor">geschiedenis van de hartslag-monitor</a> kan bekijken.
                            </li>
                            <li>
                                <a href="#location" data-toggle="tab" title="locatie monitor">
                                            <span>
                                                 <i class="glyphicon glyphicon-road"></i>
                                            </span>
                                </a>
                                &nbsp;Een pagina waar u de <a href="#location" data-toggle="tab" title="locatie monitor">huidige locatie en de geschiedenis van de locatie</a> kan bekijken.
                            </li>
                            <li>
                                <a href="#cog" data-toggle="tab" title="instellingen">
                                            <span>
                                                 <i class="glyphicon glyphicon-cog"></i>
                                            </span>
                                </a>
                                &nbsp;Een pagina waar u de <a href="#cog" data-toggle="tab" title="instellingen">instellingen kan veranderen</a>.
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="phone">
                        <h3 class="head text-center">Telefoonnummers</h3>
                        <form class="form-horizontal middel text-left">
                            <fieldset>

                                <!-- Form Name -->
                                <legend>Telefoonnummers om te verwittigen</legend>

                                <!-- Multiple Checkboxes (inline) -->
                                <div class="form-group">
                                    <label class="col-md-5 control-label" for="telnr">0493635780</label>
                                    <div class="col-md-4">
                                        <label class="checkbox-inline" for="telnr-0">
                                            <input type="checkbox" name="telnr" id="telnr-0" value="bel">
                                            Bel
                                        </label>
                                        <label class="checkbox-inline" for="telnr-1">
                                            <input type="checkbox" name="telnr" id="telnr-1" value="sms">
                                            SMS
                                        </label>
                                        <label class="checkbox-inline" for="telnr-2">
                                            <input type="checkbox" name="telnr" id="telnr-2" value="tweet">
                                            Tweet
                                        </label>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-5 control-label" for="nieuwtel">Tel toevoegen</label>
                                    <div class="col-md-5">
                                        <input id="nieuwtel" name="nieuwtel" type="text" placeholder="0493123456" class="form-control input-md">
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-5 control-label" for="meertel">Meer telefoonnummers toevoegen</label>
                                    <div class="col-md-4">
                                        <button id="meertel" name="meertel" class="btn btn-info">+</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="heartrate">
                        <h3 class="head text-center">Hartslag monitor</h3>

                        <div id="table1"  class="text-center"></div>
                        <div id="chart" class="text-center"></div>
                    </div>
                    <div class="tab-pane fade" id="location">
                        <h3 class="head text-center">Locatie monitor</h3>

                        <div id="table2" class="text-center"></div>
                        <div id="kaartje" class="text-center"></div>
                    </div>
                    <div class="tab-pane fade" id="cog">
                        <div class="text-center">
                            <i class="img-intro icon-checkmark-circle"></i>
                        </div>
                        <h3 class="head text-center">Bedankt voor uw geduld! <span style="color:#f48260;">♥</span> Kaske</h3>
                    </div>
                    <div class="clearfix"></div>
                </div><!--einde tab-content-->
            </div><!--einde board-->
        </div><!--einde row-->
    </div> <!--einde container-->
</section>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script src="js/test.js"></script>
<script src="js/jsapi.js"></script>
<script type='text/javascript' src="js/scriptFamilie.js"></script>

</body>
</html>
