<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<% include header.html %>


<div id="tabs">
    <ul>
        <li><a href="#Home">Translate</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#feedbackDiv">Feedback</a></li>
    </ul>
    <div id="Home">
        <form>
            <input name="javaFile" id="fileInput" type="file" accept=".java,.jsp"/><br/>
            <input type="file" id="dirInput" webkitdirectory directory multiple/>

            <hr/>
            <button id="java">Translate to JavaScript</button>
            <button id="jsp">Translate to EJS</button>
        </form>
        <br/>

        <div id="wrapper">
            <div id="originalFile" contenteditable="true">Reading original file, please hold ... </div>
            <div id="translated" contenteditable="true">Fetching translation, please hold ... </div>
            <input type="text" value="MyTranslatedFile" placeholder="filename" id="fileName"><br>
            <button onclick="downloadFile('.js')">Export to JS file</button>
            <button onclick="downloadFile('.ejs')">Export to EJS file</button>
            <button onclick="downloadFile('.txt')">Export to txt file</button>
            <button id="download" disabled>Can't download yet</button>
        </div>
    </div>
    <div id="About">
        <p>
            This is a programming project for 4 students at <a href="http://www.howest.be/">Howest</a>.  It's part of the semester 4 and 5 program for applied computer science.
            The goal is to create an automatic translator which will translate 90% of the syntactic differences between Java and JavaScript, and between JSP and EJS.
        </p>
    </div>
    <div id="feedbackDiv">
        <form id="editForm">
            <div>
                <label for="naam">naam</label>: <input id="naam" name="naam" type="text" required /><br/>
                <label for="email">e-mail</label>: <input id="email" name="email" type="text" class="required email"/><br/>
                <label for="feedback">feedback</label>:<br/>
                <textarea cols="100" rows="20" id="feedback"></textarea><br/>
                <input id="ok" type="button" value="OK"/>
            </div>
            <div id="feedbackDialog">

            </div>
        </form>
    </div>
</div>



<% include footer.html %>
<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
<script src="/jquery-1.8.3.js"></script>
<script src="/jquery-ui.js"></script>
<script src="Translate.js"></script>
</body>
</html>