doctype html
html
head
title= title
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
block scripts
script(src='/javascripts/jquery.js')
script(src='/javascripts/jqueryui.js')
//script(src='/javascripts/MKNT.js') TODO: dit overbodig maken
script(src='/javascripts/custom.js')
script(src='/javascripts/fileManager.js')
body
block content