body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #D9D7D3;
}

h1 {
	font-size: 20px;
	color: black;
	text-align: center;
}

div {
	font-size:13px;
}

#translated {
    border: solid black 1px;
    width: 49%;
    overflow: hidden;
    min-height: 300px;
    padding: 5px;
    margin-top: 5px;
    white-space: pre;
}

#originalFile {
    border: solid black 1px;
    width: 49%;
    float: left;
    min-height: 300px;
    padding: 5px;
    white-space: pre;
}

#wrapper {
	overflow: hidden;
    width: 100%;
    display: none;
}

#footer {
	float:right;
}

button a {
    text-decoration: none;
    color: black;
}