<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="/jquery-1.8.3.js"></script>
    <script src="/jquery-ui.js"></script>
    <script src="/custom.js"></script>
    <script src="Translate.js"></script>


    <!--<a copy of mknt is linked-->
    <style>

        button a {
            text-decoration: none;
            color: black;
        }

        #originalFile {
            border: solid black 1px;
            width: 49%;
            float: left;
        }

        #translate {
            border: solid black 1px;
            width: 49%;
            overflow: hidden;
        }

        #wrapper {
            overflow: hidden;
            width: 100%;
        }
    </style>
</head>
<body>
<% include header.html %>


<div id="tabs">
    <ul>
        <li><a href="#Home">Translate</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#Feedback">Feedback</a></li>
    </ul>
    <div id="Home">
        <input id="fileInput" type="file" accept=".java"/><br/>
        <input type="file" id="dirInput" webkitdirectory directory multiple/>
        <hr/>
        <button onclick="toonOutput()">Translate Javascript</button>
        <br/>

        <div id="wrapper">
            <div id="originalFile" contenteditable="true">Original file</div>
            <div id="translate" contenteditable="true">Translated file</div>
        </div>
        <input type="text" value="MyTranslatedFile" placeholder="filename" id="fileName"><br>
        <button onclick="downloadFile('.js')">Export to JS file</button>
        <button onclick="downloadFile('.txt')">Export to txt file</button>
        <button id="download" disabled>Can't download yet</button>
    </div>
    <div id="About">
        <p>This is our programming project. Translating Java to Javascript</p>
    </div>

    <div id="Feedback">
        <form id="editForm">
            <div>
                <label>naam</label>:
                <input id="email" type="text" class="required email"/><br/>Feedback:<br/>
                <textarea cols="30" rows="5"></textarea>
            </div>
            <div>
                <input id="ok" type="button" value="OK"/>
                <input id="not" type="button" value="Cancel"/>
            </div>
        </form>
    </div>
</div>



<% include footer.html %>

</body>
</html>