extends layout
block content
    h1 Programming Project 2014-2015 ~ Project Hotelmanagement ~ Translator
    #tabs
        ul
          li
            a(href='#TranslateJava') Java to Javascript
          li
            a(href='#TranslateJsp') JSP to EJS
          li
            a(href='#About') About
          li
            a(href='#Feedback') Feedback
        #TranslateJava
          input#fileInput(type='file', accept='.java')
          br
          hr
          button#trans Translate to Javascript
          br
          #wrapper
            #originalFile Original file
            #translate(contenteditable='true') Translated file
          input#fileName(type='text', value='MyTranslatedFile', placeholder='filename')
          br
          button(onclick='downloadFile(\'.js\')') Export to JS file
          button(onclick='downloadFile(\'.txt\')') Export to txt file
          button#download(disabled='disabled') Can't download yet
        #TranslateJsp
          h2 Will be implemented soon
        #About
          h2 Programming Project powered by Carette Michèle, Cornelis Koen, Dekiere Tim, Kuylle Niels.
          br
          h3 What is the goal of this project?
          p The main purpose of this project is to convert a Java or JSP code to Javascript or EJS code.
          br
          h3 What can you translate?
          p At the moment you can translate your Java files to Javascript files and download them. You can edit the translated file online.
          p In the future we will implement JSP to EJS
          br
          p This project is a Programming project at Howest.
        #Feedback
          p Please feel free to give us some feedback about this project. 
          a(href='mailto:michele.carette@student.howest.be; tim.dekiere@student.howest.be; niels.kuylle@student.howest.be; koen.cornelis@student.howest.be?subject=Programming%20Project') Send Feedback
    footer
      hr
      #footer &copy Carette Michèle, Cornelis Koen, Dekiere Tim, Kuylle Niels





