body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #D9D7D3;
}
h1
{
	font-size: 20px;
	color: orange;
	text-align: center;
	
}
div
{
	font-size:13px;
}
#translate
{
	border: solid orange 1px;
	margin:5px;
    width: 49%;
    overflow: hidden;
	
}
#originalFile
{
	border: solid orange 1px;
	margin:5px;
    width: 49%;
    float: left;
	
	
}

#wrapper
{

	overflow: hidden;
    width: 100%;
}

#footer
{
	float:right;
}

